<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.0.123" targetFramework="net471" />
  <package id="Dapper.SqlBuilder" version="2.0.78" targetFramework="net471" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net471" />
  <package id="SqlBuilder" version="1.0.0" targetFramework="net471" />
</packages>